<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/logo/logo.png}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>[[${@environment.getProperty('forget_pwd_title')} ? ${@environment.getProperty('forget_pwd_title')} : 'Forget Password']]</title>

	<!-- Own CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/global.css}">
	
	<!-- Third party JS -->
	<script type="text/javascript"  th:src="@{/js/global/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global/bootstrap.min.js}"></script>
	
	<!-- Own JS -->
</head>

<body class="bg-gradient-primary">

	<div class="container">
	
		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-form-image">
								<img class="forgot_password_img"
									th:src="@{/images/login/forgetpassword.png}"
									alt="forgotpassword">
							</div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mt-4">[[${@environment.getProperty('forget_pwd_heading')}
											? ${@environment.getProperty('forget_pwd_heading')} : 'Forgot
											Your Password?']]</h1>
										<p class="mb-4 mt-4">
											[[${@environment.getProperty('forget_pwd_description')} ?
											${@environment.getProperty('forget_pwd_description')} : 'We
											get it, stuff happens. Just enter your email address below
											and we will send you a link to reset your password!']]</p>
									</div>
									<form class="user" method="POST" th:action="@{/forget-password}">
										<div class="form-group">
											<input type="email" class="form-control form-control-user"
												id="exampleInputEmail" th:name="email"
												aria-describedby="emailHelp"
												placeholder="Enter Email Address...">
										</div>
										<button type="submit"
											class="btn btn-primary btn-user btn-block">
											[[${@environment.getProperty('rest_password_btn')} ?
											${@environment.getProperty('rest_password_btn')} : 'Reset
											Password']]</button>
									</form>
									<hr>
									<div class="text-center">
										<a class="small" th:href="@{/registration}">[[${@environment.getProperty('create_account_heading')}
											? ${@environment.getProperty('create_account_heading')} :
											'Create an Account!']]</a>
									</div>
									<div class="text-center">
										<label class="small">[[${@environment.getProperty('already_have_acc_label')}
											? ${@environment.getProperty('already_have_acc_label')} :
											'Already have an account?']]</label> <a class="small"
											th:href="@{/login}">[[${@environment.getProperty('login_link')}
											? ${@environment.getProperty('login_link')} : 'Login']]</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</body>


</html>