<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/logo/logo.png}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>[[${@environment.getProperty('signup_title')} ? ${@environment.getProperty('signup_title')} : 'Sign Up']]</title>

	<!-- Own CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/global/global.css}">
	
	<!-- Third party JS -->
	<script type="text/javascript"  th:src="@{/js/global/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/global/bootstrap.min.js}"></script>
	
	<!-- Own JS -->
</head>
<body class="bg-gradient-primary">
	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-5 d-none d-lg-block bg-form-image">
						<img class="register_img" th:src="@{/images/login/registration.png}" alt="registration">
					</div>
					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">[[${@environment.getProperty('create_account_heading')} ? ${@environment.getProperty('create_account_heading')} : 'Create an Account!']]</h1>
							</div>
							<form class="user my-login-validation"  method="POST" th:action="@{/registration}" th:object="${userDTO}">
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="text" class="form-control form-control-user"
											id="exampleFirstName" th:name="firstName" placeholder="First Name">
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control form-control-user"
											id="exampleLastName" th:name="lastName" placeholder="Last Name">
									</div>
								</div>
								<div class="form-group">
									<input type="email" class="form-control form-control-user"
										id="exampleInputEmail" th:name="email" placeholder="Email Address">
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="password" class="form-control form-control-user"
											id="exampleInputPassword" th:name="password" placeholder="Password">
									</div>
									<div class="col-sm-6">
										<input type="password" class="form-control form-control-user"
											id="exampleRepeatPassword" placeholder="Repeat Password">
									</div>
								</div>
								<button type="submit" class="btn btn-primary btn-user btn-block">
									[[${@environment.getProperty('register_btn')} ? ${@environment.getProperty('register_btn')} : 'Register Account']]</button>
								<hr>
								<a href="/oauth2/authorization/google" class="btn btn-google btn-user btn-block">
									<i class="fa fa-google fa-fw"></i> [[${@environment.getProperty('continue_with_google_lable')} ? ${@environment.getProperty('continue_with_google_lable')} : 'Continue with Google']]
								</a> 
							</form>
							<hr>
							<div class="text-center">
								<a class="small" th:href="@{/forget-password}">[[${@environment.getProperty('forget_password_link')} ? ${@environment.getProperty('forget_password_link')} : 'Forgot password?']]</a>
							</div>
							<div class="text-center">
								<label class="small">[[${@environment.getProperty('already_have_acc_label')} ? ${@environment.getProperty('already_have_acc_label')} : 'Already have an account?']]</label>
								<a class="small" th:href="@{/login}">[[${@environment.getProperty('login_link')} ? ${@environment.getProperty('login_link')} : 'Login']]</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>